# Ignorar o node_modules de qualquer lugar
**/node_modules/

# Ignorar a build do Next.js (frontend)
fonx-frontend/.next/

# Ignorar ambiente local do backend (caso tenha)
fonx-backend/.env

# Ignorar .env do frontend também se tiver
fonx-frontend/.env

# Ignorar logs
*.log

# Ignorar VSCode settings (opcional)
.vscode/
